{% extends "base.html" %}

{% block title %}Tag: {{ term.name }} - {{ config.title }}{% endblock title %}

{% block content %}
<h1>Tag: {{ term.name }}</h1>
<ul class="blog">
  {% for page in term.pages %}
  <li>
    <article>
      <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
      {% if page.date %}
      <p><time datetime="{{ page.date | date(format="%Y-%m-") }}">{{ page.date | date(format="%dd/%mm/%YYYY") }}</time></p>
      {% endif %}
      {% if page.taxonomies.tags %}
      <p class="tags">
      tags: [
      {% for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
      ]
      {% endif %}
      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
