{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block content %}
<section>
  <h1>{{ page.title }}</h1>
  {% if page.date %}
  <p><time>{{ page.date | date(format="%d-%m-%Y") }}</time></p>
  {% endif %}
  {% if page.taxonomies.tags %}
  <p class="tags">
  {
  {% for tag in page.taxonomies.tags %}
  <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>{% if loop.index < page.taxonomies.tags | length %}, {% endif %}
  {% endfor %}
  }
  </p>
  {% endif %}
  <div>
    {{ page.content | safe }}
  </div>
</section>
{{ super() }}
{% endblock content %}
